<?xml version="1.0" encoding="UTF-8"?>

<suite name="suite">
<test name="Practice Multi Grouping">

      <groups>

         <define name="All">

	   		 <include name="Car"/>

	   		 <include name="Scooter"/>

		 </define>

	 	<run>

	   		 <include name="All"/>

		</run>

   	 </groups>

	 <classes>

	      <class name="automationframework.MultiGrouping" />

	</classes>

   </test>

</suite>